body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

.byAparna{
  font-size: 18px;
}
#myBtn {
  font-size: 18px;
  outline: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;

}
#myBtn:hover {
  color: white;
  background-color: #555;
}